.header {
  height: 9.6rem;
  background-color: #fdf2e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
}
.logo {
  height: 2.2rem;
}
.main-nav {
}
.main-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e67e22;
}
